// index画面チャット画面のCSS
$MainWidth: calc(100vw - 300px);
$MessageColor: #434A54;

.chat-main {
  margin-left: 300px;
  width: $MainWidth;
  .main-header {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(#{$MainWidth} - 80px);
    padding: 0 40px;
    background-color: white;
    border-bottom: thin solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &__left-box {
      &__current-group {
        font-size: 20px;
        color: #333333;
        margin: 35px 0 15px;
      }
      &__member-list {
        margin-top: 15px;
        font-size: 12px;
        color: #999999;
        display: flex;
      }
    }
    &__edit-btn {
      border: solid thin $light_blue;
      margin: 28px 0 0;
      padding: 0 20px;
      height: 40px;
      color: deepskyblue;
      text-decoration: none;
      line-height: 40px;
    }
  }

  .messages {
    background-color: #fafafa;
    padding: 100px 40px 0;
    .message {
      &__upper-info {
        padding-top: 46px;
        &__talker {
          float: left;
          font: {
            size: 16px;
            weight: bold;
          }
        }
        &__date {
          font-size: 12px;
          color: #999999;
          float: left;
        }
      }
      &__text {
        clear: both;
        padding-top: 10px;
        font-size: 14px;
        color: $MessageColor;
      }
    }
  }

  .form {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 90px;
    width: $MainWidth;
    background-color: #ddd;
    .new_message {
      padding: 0 40px;
      .input-box {
        margin-top: 20px;
        display: flex;
        &__text {
          background-color: white;
          padding: 0 40px 0 10px;
          height: 50px;
          width: 100%;
          line-height: 50px;
          font-size: 16px;
          color: $MessageColor;
        }
        &__image {
          height: 50px;
          line-height: 50px;
          position: absolute;
          right: 148px;
          input {
            display: none;
          }
        }
        .submit-btn {
          margin-left: 15px;
          height: 50px;
          width: 100px;
          background-color: $light_blue;
          line-height: 50px;
          text-align: center;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}